{% extends 'church/base.html' %}

{% block title %}Add Donation{% endblock %}

{% block header %}Add Donation{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-row">
                {{ field.label_tag }}
                {{ field }}
                {% for error in field.errors %}
                    <p style="color:red;">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit">Save donation</button>
    </form>
{% endblock %}
